# Node.js
node_modules/
npm-debug.log
*.log

# Docker
*.tar.gz
Dockerfile.local

# Helm
helm/myapp/Chart.lock
helm/myapp/charts/

# Local configs and secrets
*.env
*.secret
kubeconfig

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp